################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UpstoxWebsocket/bin/
/UpstoxWebsocket/obj/
/UpstoxWebsocket/obj/Debug/net8.0/UpstoxWebsocket.GeneratedMSBuildEditorConfig.editorconfig
